body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #9adcea;
}

#trivia-container {
    margin: 20px auto;
    padding: 20px;
    max-width: 500px;
    background: white;
    border-radius: 8px;
}

button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

h1 {
  color: #3d3d3d;
}
